* text=auto !eol
/duarray.cpp -text
/duarray.h -text
/ducontainer.cpp -text
/ducontainer.h -text
/duevent.cpp -text
/duevent.h -text
/duheader.cpp -text
/duheader.h -text
/duinstrument.cpp -text
/duinstrument.h -text
/duinstrumentinfo.cpp -text
/duinstrumentinfo.h -text
/duloop.cpp -text
/duloop.h -text
/dumusic.cpp -text
/dumusic.h -text
/dunumeric.cpp -text
/dunumeric.h -text
/duobject.cpp -text
/duobject.h -text
/dupreset.cpp -text
/dupreset.h -text
/dusonginfo.cpp -text
/dusonginfo.h -text
/dustring.cpp -text
/dustring.h -text
/dutrack.cpp -text
/dutrack.h -text
/duvalue.cpp -text
/duvalue.h -text
effects/duadsr.cpp -text
effects/duadsr.h -text
effects/duchorus.cpp -text
effects/duchorus.h -text
effects/ducompressor.cpp -text
effects/ducompressor.h -text
effects/dudelay.cpp -text
effects/dudelay.h -text
effects/dudistortion.cpp -text
effects/dudistortion.h -text
effects/dueffectsettings.cpp -text
effects/dueffectsettings.h -text
effects/duequalizer.cpp -text
effects/duequalizer.h -text
effects/dumixer.cpp -text
effects/dumixer.h -text
effects/duvibrato.cpp -text
effects/duvibrato.h -text
effects/duwah.cpp -text
effects/duwah.h -text
